*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7cba8;
    min-height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.square{
    height: 500px;
    width: 480px;
    background-color: #B1A774 ;
    position: relative;
    overflow: hidden;
}

.head{
    border: 8px solid #40251a;
    background-color: #000;
    height: 230px;
    width: 250px;
    border-radius: 48%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.eye{
    position: absolute;
    bottom: 25px;
    left: -5px;
    height: 165px;
    width: 105px;
    border-radius: 50%;
    border: 8px solid #40251a;
    background-color: #FFFFCD;
    rotate: 5deg;
}

.eye2{
    right: 5px;
    width: 130px;
    bottom: 5px;
    left: auto;
}

.circleEye{
    position: absolute;
    top: 28px;
    left: 15px;
    border: 8px solid #40251a;
    background-color: #000;
    height: 90px;
    width: 60px;
    border-radius: 48%;
}

.eye2 .circleEye{
    left: 22px;
    width: 70px;
}

/* .ear{
    position: absolute;
    top: 17%;
    left: 30%;
    rotate: 55deg;
    border: 8px solid #40251a;
    background-color: #000;
    height: 160px;
    width: 90px;
    border-radius: 60px;
    z-index: 0;
    transform: skew(20deg);
} */

.ear2{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    position: relative;
}
.inside{
    position: absolute;
    top: 0;
    left: 0;
    left: auto;
    border: 8px solid #40251a;
    background-color: #000;
    height: 100px;
    width: 50px;
    border-radius: 50%;
    z-index: 0;
    transform: skew(20deg);
}

/* .body{
    border: 8px solid #40251a;
    background-color: #000;
    width: 180px;
    height: 150px;
    position: absolute;
    bottom: 60px;
    left: 37%;
    border-radius: 50%;
} */
/* 
.paws{
    border: 8px solid #40251a;
    border-right: transparent;
    background-color: #000;
    width: 60px;
    height: 110px;
    position: absolute;
    bottom: 00px;
    border-radius: 30px;
    left: -20px;
    z-index: 0;
} */

/* .paws::after{
    content: "";
    position: absolute;
    border: 8px solid #40251a;
    background-color: #000;
    width: 40px;
    left: -10px;
    bottom: -12px;
    rotate: 20deg;
    border-radius: 40px;
    height: 50px;
} */

.bkg{
    border: 7px solid #3B2822;
    background-color: #BC8640;
    height: 450px;
    width: 160%;
    position: absolute;
    bottom: -62%;
    left: 50%;
    transform: translateX(-50%);
    rotate: 20deg;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rodape{
    height: 50px;
    width: 100%;
    position: absolute;
    top: -7px;
    left: -25%;
    border-top: 7px solid transparent;
}

.piso{
    border: 5px solid #3B2822;
}
